@CHARSET "ISO-8859-1";

body{
	color:#AD294E;
	font:26px/40px 'lucida Grande', tahoma, verdana, sans-serif;
	background:#000000  ; 
}

.Matriz{
	height: 54px;
	margin:50px auto;
	width: 88%;
}

.tabla{
	background: #ffffff;
    border: #ff00001px solid;
    width: 820px;
    height: 540px;
    padding: 24px;
    margin: 0px auto;
    display: inline-block;
    transition:0.3s;
    font-weight: bold;
}
